
body {
	background-image: url("https://vignette1.wikia.nocookie.net/vampirediaries/images/c/cd/Doctor-who.jpg/revision/latest?cb=20140823013225");
	color:#ffffff;	
	position:relative;
	min-height:100%;
	text-align: center;
}
.drWho {
	padding: 2px;
	width:100%;
}
}
.container-fluid, .jumbotron, {
	padding: 2px;
}
h1 {
	
	font-size: 36px;
}
.game {
	background-color: black;
	font-size: 28px;
}
#blanks, h3,h4,p{
	margin-left: 40px;
	font-size:36px;
}
#guesses,#score {
	font-size: 36px;
}
#footer{
  height: 60px;
  text-align: center;
  padding:1%;
  background-color: #17254f;
  opacity:.5;
  }
  button {
	background-color: white;
	color: black;
  }
#hiddenInput {
	visibility: hidden;
}